.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding-top: 5px;
  width: 100px;
  border: 2px solid grey;
}

.avatar {
  width: 48px;
  padding-top: 10px;
}

.name {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 600;
}

.statusOffline {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}

.statusOnline {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  text-align: center;
}
